how-many.vtl

<h2>Who wrote this book?</h2>

<form action="/input-author" method="post">
  <div class="form-group">
    <label for="authorNumber">How many authors does $title have?</label>
    <input name="authorNumber" id="authorNumber" type="number">
  </div>
  <button class="btn btn-danger" type="submit">Go</button>
</form>
